body{
    margin: 0%;
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

html {
    background-color: red;
}

h1{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 3%;
    color: 1a1a1a;
}

h1:hover{
    filter: grayscale(5%);
    transform: scale(1.1);
    transition: transform 1s;
}

.white-text{
    color: white;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

p:hover{
    transition: transform 1s;
    transform: scale(1.01);
}

.center{
    text-align: center;
}

.center:hover{
    transition: transform 2s;
    transform: scale(1.1);
}

a{
    color:blue;
}

q{
    font-style: italic;
}

img{
    filter: grayscale(75%);
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img:hover{
    filter: grayscale(5%);
    transition: transform 1s;
    transform: scale(1,1);
}

@media screen and (max-width: 576px) {
    img{
        height: 100px;
    margin-top: 150px;
        }
}

footer{
    padding: 2%;
    background-color: white;
}

.navbar{
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    -webkit-animation:moveNav 5s;
    animation: moveNav 5s;
}

@keyframes moveNav{
    from {left: -100vw;}
    to {left: 0vw;}
}

.navbar a{
    float: left;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    -webkit-animation: moveNavText 5.75s;
    animation: moveNavText 5.75s;
}

@keyframes movenavText{
    from {top: -100vw;}
    to {top: 0vw;}
}

@media screen and (max-width:576px) {
    .navbar a{
        width: 25%;
        font-size: 12px;
    }
}

.navbar a:hover{
    background-color: #f4f4f4;
    color: black;
    font-weight: bold;
}

.navbar a.active{
    background-color: red;
}

#Typing_Video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

@media screen and (max-width:576px) {
    #Typing_Video {
        display: none;
    }
}

.Video_Text{
    background: rgba(0, 0, 0, .5);
    color: white;
    width: 100%;
    padding: 20px;
    position: relative;
    -webkit-animation: moveVideoText 5.75s;
    animation: moveVideoText 5.75s;
}

@keyframes moveVideoText{
    from {top: -100vw;}
    to {top: 0vw;}
}

* {
    box-sizing: border-box;
}

.column_1{
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 3%;
    height: 400px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

@media screen and (max-width:576px) {
    .column_1{
        overflow: auto;
    }
}

.column_2{
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: #4d4d4d;
    color: black;
    font-weight: bold;
}

.column_tall{
    padding-top: 5px;
    height: 460px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family:'Courier New', Courier, monospace;
}

input[type=text]:hover{
    box-shadow: 0 0 5px #00004d inset;
}

input[type=submit] {
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=submit]:hover {
    background-color: green;
    color: black;
    transform: scale(1.3);
    transition: transform 1.3s;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#email {
    width: 700px;
    height: 40px;
    border: solid black;
}

#yourname {
    border:solid black;
}

#telnum {
    border: solid black;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}



/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 180px;
  right: 100px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 500px;
  padding: 3px;
  background-color: lightgray;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 0px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: teal;
  color: white;
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 30%;
  margin-left: 170px;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: orange;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* animation */
.white-text {
  width: 1100px;
  height: 90px;
  background-color: red;
  position: relative;
  animation: myfirst 5s linear 2s infinite alternate;
  border-radius: 20px;
  border: solid turquoise;
  border-width: 3px;
}

@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:350px; top:0px;}
  50%  {background-color:blue; left:60px; top:0px;}
  75%  {background-color:green; left:0px; top:0px;}
  100% {background-color:red; left:60px; top:0px;}
}

/* zoom in and out */
.contactimage {
  padding-top: 40px;
  border-radius: 10px;
  transition: transform .2s;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.contactimage:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.socials {
    height: 20%;
    margin-right: auto;
    margin-left: 40px;
    display: inline-block;
    margin-top: 40px;
    }

/*smooth scrolling */
html {
  scroll-behavior: smooth;
}

#section1 {
  height: 600px;
  }
#socmed {
  height: 400px;
  }
.socmedsect {
    color: red;
    font-weight: bold;
}
#socialmed {
    text-align: center;
    height: 0px;
}



.active {
  background-color: greenyellow;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5.5s;
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}



.aol {
    text-align: center;
    margin-top: -40px;
    margin-top: -40px;
    margin: -10px;
    }

.sticky {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: orange;
  padding: 5px;
  font-size: 20px;
  border-radius: 5px;
}



